$note-add-tags-back-icon-size: 1rem

$stream-media-upload-error-file-max-height: 50vh
$stream-media-upload-error-audio-height: 1.8rem

$fullscreen-media-header-height: 3rem
$fullscreen-media-header-options-size: 2rem

$fullscreen-media-arrow-width: 3rem
$fullscreen-media-arrow-icon-height: 6rem
$fullscreen-media-arrow-icon-max-height: var(--viewport-height)

$authorization-data-error-height: 1.5rem

.note
	&-add-tags__back
		padding: $spacing-small
		border-bottom: 1px solid $color-light-second

		&-container 
			display: flex
			align-items: center
			gap: $spacing-normal
			padding: $spacing-normal
			border-radius: $spacing-small
			cursor: pointer

			&:hover
				& .note__add-tags-back-icon
					background-color: $color-colored-green-dark

		&-item
			padding: $spacing-normal

		&-icon
			width: $note-add-tags-back-icon-size
			height: $note-add-tags-back-icon-size
			background-color: $color-light-second
			clip-path: polygon(100% 0, 60% 50%, 100% 100%, 0 50%)

.server-response-error
	&__section		
		width: 100%
		padding: $spacing-small

	&__title
		font-size: 1.1rem
		font-weight: 700

	&__list-files
		display: flex
		flex-direction: column
		gap: $spacing-normal
		align-self: flex-start

	&__file
		display: flex
		gap: $spacing-small

		&-title	
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			line-clamp: 1

	&__button
		max-width: 250px
		width: 100%

.stream-media-upload-error
	&__section
		width: 100%
		padding: $spacing-small

	&__title
		font-size: 1.1rem
		font-weight: 700

	&__video
		height: $stream-media-upload-error-file-max-height

		&-file
			object-fit: contain
			object-position: center
			width: 100%
			height: 100%
			background-color: $color-light-second
			border-radius: $spacing-small

	&__audio
		display: flex
		align-items: center
		justify-content: center

		&-file
			height: $stream-media-upload-error-audio-height
			max-width: 300px

	&__description
		font-size: 1.1rem

	&__button
		max-width: 250px
		width: 49%

.fullscreen-media
	&__container
		position: fixed
		width: 100%
		height: 100%
		left: 0
		top: 0
		z-index: 3

	&__media
		&-container
			height: 100%
			width: 100%
			background-color: rgb(0 0 0 / 0.95)
		
		&-file
			height: 100%
			width: 100%
			object-fit: contain
			object-position: center

	&__header
		position: absolute
		top: -$fullscreen-media-header-height
		left: 0
		width: 100%
		height: $fullscreen-media-header-height
		background-color: rgb(0 0 0 / 0.75)
		color: $color-light-main
		display: flex
		padding: $spacing-big
		justify-content: space-between
		align-items: center
		font-size: 1.2rem
		transition: top 0.5s
		will-change: top

		&-title	
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			line-clamp: 1

		&-options
			width: $fullscreen-media-header-options-size
			background-color: transparent
			height: $fullscreen-media-header-options-size


		&_show
			top: 0
			transition: top 0.5s
			will-change: top

	&__arrow
		position: absolute
		top: calc(50% - 5rem)
		height: 10rem
		width: $fullscreen-media-arrow-width

		&-left
			left: -$fullscreen-media-arrow-width
			will-change: left
			transition: left 0.5s

			&_show
				left: 0
				will-change: left
				transition: left 0.5s

		&-right
			right: -$fullscreen-media-arrow-width
			will-change: right
			transition: right 0.5s

			&_show
				right: 0
				will-change: right
				transition: right 0.5s

		&-icon		
			height: $fullscreen-media-arrow-icon-height
			max-height: $fullscreen-media-arrow-icon-max-height
			width: 60%

	&__context-menu
		top: $fullscreen-media-header-height
		right: $spacing-big

.remove-note-confirm
	&__section
		padding: $spacing-normal
		width: 100%

	&__attachment-remove
		display: flex
		gap: $spacing-normal
		justify-content: center

	&__button
		width: 50%
		max-width: 250px

.geolocation-confirm
	&__section
		padding: $spacing-normal
		width: 100%

	&__coords
		display: flex
		flex-direction: column
		gap: $spacing-small
		align-items: center
		font-size: 1rem

		&-input
			max-width: calc(500px + $spacing-normal)

	&__button
		width: 50%
		max-width: 250px

.authorization
	&__overlay
		background-color: rgb(0 0 0 / 0.5)

	&__container
		padding: 0

	&__section
		padding: $spacing-small $spacing-big
		width: 100%

	&__target
		display: flex
		justify-content: center
		padding: 0

		&-title
			border-radius: $spacing-normal $spacing-normal 0 0
			width: 50%
			padding: $spacing-normal

			&_active
				background-color: $color-colored-green-light

			&_passive
				color: $color-dark-second
				background-color: $color-light-second
				cursor: pointer

				&:hover
					color: $color-colored-green-dark
					background-color: $color-light-main

	&__data
		display: flex
		flex-direction: column
		gap: $spacing-normal
		align-items: flex-start
		width: 100%
		padding-top: $spacing-big

		&-label
			display: flex
			flex-direction: column
			width: 100%	
			align-items: flex-start

		&-title
			padding: $spacing-small $spacing-normal

		&-input
			&_invalid
				border-color: $color-colored-red-light

				&:focus
					border-color: $color-colored-red-light
	
		&-error
			padding: $spacing-small $spacing-normal
			font-size: 0.8rem
			color: $color-dark-main
			border-bottom: 1px solid $color-colored-red-light
			height: $authorization-data-error-height
			display: flex
			align-items: center

			&_empty
				border-color: transparent

	&__remember
		display: flex
		gap: $spacing-normal
		align-items: center

		&-text
			padding: $spacing-normal

	&__buttons
		padding-bottom: $spacing-big

	&__button
		width: 50%
		max-width: 250px

		&_inactive
			background-color: $color-light-second
			cursor: auto

			&:hover
				background-color: $color-light-second