.no-scroll
	overflow: hidden

.hidden-item
	position: absolute
	content: ''
	left: 0
	top: 0
	height: 0
	width: 0
	clip-path: circle(0)


.input-value
	&_good
		&:focus
			border-color: $color-colored-green-dark
				
	&_bad
		&:focus
			border-color: $color-colored-red-dark

.not-selected
	user-select: none

.gradient-background_awaiting-response
	background: linear-gradient(90deg, $color-light-main 0%, $color-colored-green-dark 50%, $color-light-main 100%)
	background-size: 900px 100%
	animation: active-gradient 3s infinite
	cursor: auto

.button_inactive
	background-color: $color-light-second
	cursor: auto

	&:hover
		background-color: $color-light-second

@keyframes active-gradient
	0%
		background-position: 0 0

	100%
		background-position: 900px 0

